
        #tablaUsuarios {
            background-color: green;
            border-color: black;
            border: 5px;
        }


        .error{
            border-color: red;
        }
        
        
        .itsOk{
            border-color: blue;
        }